main{
    width: 75%;
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "contents"
    "footer";
    border: 2px solid black;
    border-radius: 10px;
}
header{
    grid-area: header;
    background-image: url(kepek/header.jpeg);
    background-size: cover;
    height: 200px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    transform: translateY(-10px);
    font-size: 24px;
}
nav{
    grid-area: nav;
    background-color: aquamarine;
    padding: 10px;
}
nav li{
    display: inline;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
nav li:hover{
    background-color: white;
    color: black
}
a{
    text-decoration: none;
    font-weight: bolder;
    color: black
}
.contents{
    grid-area: contents;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "aside article";
}
aside{
    grid-area: aside;
}
aside img{
    width: 350px;
    border: 3px solid blue;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    gap: 10px;
}
article{
    grid-area: article;
    margin: 15px;
    text-align: center;
}
article img {
    width: 350px;
    border: 3px solid black;
    border-radius: 10px;
    transform: translateY(150px);
    opacity: 0.3;
}
article img:hover{
    opacity: 1;
    transition: opacity 0.5s ease;
}
footer{
    grid-area: footer;
    background-color: aquamarine;
    text-align: center;
}
@media only screen and (max-width: 500px){
    main{
        width: 50%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "contents"
        "footer";
    }
    .contents{
        width: 50%;
        display: grid;
        grid-area: contents;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "article";
    }
}
